.Inicio{
    display: flex;
}

.Inicio__sidebar{
    background-color: rgb(63, 63, 63);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}
.Inicio__sidebar-navbar  {
    display: flex;
    justify-content: space-between;

}
.Inicio__sidebar-navbar  h3{
    font-weight: lighter;

}
.Inicio__newEntry{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    width: 100%;

}
.Borde{
    border-style: inset;
}
img{
    display:block;
    margin:auto;
    }